@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

:root {
  --primary-color: #db2c44;
  --secondary-color: #eeb435;
  --highlight-color: #bac3c9;
  --accent-color: #446198;
  --white-color: #fff;
}

body {
  font-family: "Mogra", cursive;
}

.navbar-themed {
  background-color: var(--primary-color);
}

.navbar-themed .navbar-brand {
  color: var(--secondary-color);
  font-weight: bold;
}

.navbar-themed .nav-link {
  color: var(--secondary-color);
}

.navbar-themed .navbar-brand:hover,
.navbar-themed .nav-link:hover {
  color: var(--highlight-color);
}

.navbar-themed .navbar-toggler {
  border-color: var(--highlight-color);
}

.navbar-themed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ccd6dd' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
